
    body {
        font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #ffcccb;
    margin: 30px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    
    #game-container {
        display: flex;
    }
    
    #word-list-container {
        margin-right: 20px;
    }
    
    #word-list {
        font-size: 18px;
        margin-bottom: 10px;
    }
    
    #puzzle-container {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 320px; /* Ancho fijo para mantener el diseño */
        height: 320px; /* Altura fija para mantener el diseño */
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }
    
    .cell {
        width: 100%;
        height: 100%;
        border: 1px solid #ddd;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 14px;
        overflow: hidden; /* Evita que el texto se desborde del contenedor */
    }
    
    .hidden {
        background-color: #fff; /* Cambiado a blanco para que las palabras sean visibles */
        color: #000; /* Color del texto */
    }
    
    .selected {
        background-color: #aaffaa; /* Color de fondo cuando la letra está seleccionada */
    }
    
    .word-list-item {
        margin-bottom: 5px;
        color: #000; /* Color del texto de las palabras */
    }
    
    #info-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #word-count {
        margin-bottom: 10px;
    }
    
    #next-level-btn {
        padding: 10px;
        background-color: #4caf50;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    #next-level-btn:disabled {
        background-color: #ddd;
        cursor: not-allowed;
    }
    